params {
    input           = null
    help            = false
    outdir          = null
    validate_params = false
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ASHLAR_TILE {
        ext.args = "--tile-size 512"
    }

}

plugins {
    id 'nf-validation@0.2.1'
}

